@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding : 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #010101;
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
 
}

.logo{
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.15s;
}

.navbar a:hover,
.navbar a.active{
  color: #ffff00;
  
}
.home {
  color: white;
  display: flex;
  height: 1000px;
  align-items: center;
  padding: 0 10%;
  background: url(bgi.jpg);
  background-size: cover;
  
  
  
}

.home-content {
  max-width: 600px;
  
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
}

.home-content h3{
  font-size: 33px;
  font-weight: 700;
  color: #ffff00;
}

.home-content p{
  font-size: 18px;
  margin: 20px 0 0px;
}
.home-content .btn-box{
  justify-content: space-between;
  display: flex;
  width: 345px;
  height: 90px;
  align-items: center;
  padding-top: 30px;
  
}
.btn-box a{
  display: inline-flex;
  background: #ffff00;
  width: 150px;
  height: 100%;
  border: 2px solid #ffff00;
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: hidden;
  
}
.btn-box a:nth-child(2){
  background: transparent;
  color: #ffff01;
}
.btn-box a:nth-child(2):hover{
  background: #ffff00;
  color: black;
  transition: transform 0.5s, background 0.5s;
}
.btn-box a:nth-child(1):hover{
  background: transparent;
  color: #ffff00;
  transition: transform 0.5s, background 0.5s;
}

.containe {
  height: 900px;
  color: white;
  padding: 0 10%;
  width: 100%;
}

.containe h1{
  margin-bottom: 60px;
  padding-top: 10%;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.containe h1::after{
  content: '';
  background: #ffff00;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  
}

.services {
  text-align: center;
  padding: 25px 10px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
  
}
.services i{
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffff00;
}

.services h2{
  font-weight: 600;
  margin-bottom: 8px;
}
.services:hover{
  background: #fff010;
  color: black;
  transform: scale(1.05);
}
.services:hover i{
  color: black;
}
.social{
  color: white;
  padding: 25px 10px;
  border-left: 2px solid white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s, background 0.5s;
}
.social a {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid yellow;
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.social a:hover{
  color: yellow;
  transform: scale(1.15);
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 50px;
  color: white;
  
  
}
.heading{
  
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: 7px solid yellow;
  border-radius: 7px;
}

.about-content{
  text-align: center;
  
}
.about-content h3{
  font-size: 25px;
  transition: 0.3s;
}
.about-content h:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: red;
  z-index: -1;
}
.about-content h3 span:hover{
  
  color: yellow;

  
}
.about-content p{
  font-size: 18px;
  margin: 2rem 0 3rem;
  padding: 25px 50px;
}
.btn-box.btns{
  display: inline-flex;
  height: 50px;
  color: black;
}
